<!DOCTYPE html>
<html>
  <head>
    <style>
td {
  width:24.8pt;
  padding-left:10pt;
  border:solid black 0.5pt;
}
.td-lime {
  background:lime;
}
.td-light-blue {
  background:#99CCFF;
}
.td-salmon {
  background:#FF99CC;
}
.td-white {
  background:white;
}
.td-right {
  width: 60pt;
}
.sinogram-tbl {
  border:0;
  cellspacing:0;
  cellpadding:0;
  margin:0;
  border-collapse:collapse;
}

    </style>
  </head>
    <body>
      <h1 align="center"><a name="Table_of_400_Sinograms">Table of 400 Sinograms</a></h1>
       
      <table class="sinogram-tbl">
        <tr>
          <td class="td-white"> </td>
          <td class="td-white"> A </td>
          <td class="td-white"> B </td>
          <td class="td-white"> C </td>
          <td class="td-white"> D </td>
          <td class="td-white"> E </td>
          <td class="td-white"> F </td>
          <td class="td-white"> G </td>
          <td class="td-white"> H </td>
          <td class="td-white"> I </td>
          <td class="td-white"> J </td>
          <td class="td-white"> K </td>
          <td class="td-white"> L </td>
          <td class="td-white"> M </td>
          <td class="td-white"> N </td>
          <td class="td-white"> O </td>
          <td class="td-white"> P </td>
          <td class="td-white"> Q </td>
          <td class="td-white"> R </td>
          <td class="td-white"> S </td>
          <td class="td-white"> T </td>
          <td class="td-right"> </td>
        </tr>
        <tr>
          <td class="td-white"> 1 </td>
          <td class="td-lime"> <a href="#a_exclamation">啊</a> </td>
          <td class="td-lime"> <a href="#ai4">爱</a> </td>
          <td class="td-lime"> <a href="#an1_peace_tranquility">安</a> </td>
          <td class="td-light-blue"> <a href="#ba1">八</a> </td>
          <td class="td-light-blue"> <a href="#ba3_hold_grasp_control_watch_bundle">把</a> </td>
          <td class="td-light-blue"> <a href="#ba">吧</a> </td>
          <td class="td-light-blue"> <a href="#bai2_white">白</a> </td>
          <td class="td-light-blue"> <a href="#bai3_hundred">百</a> </td>
          <td class="td-light-blue"> <a href="#ban1_classOrTeam">班</a> </td>
          <td class="td-light-blue"> <a href="#ban4_half">半</a> </td>
          <td class="td-light-blue"> <a href="#ban4_toHandle_toDo">办</a> </td>
          <td class="td-light-blue"> <a href="#bao1_packet_Surname_toWrap">包</a> </td>
          <td class="td-light-blue"> <a href="#bao4_newspaper_toInform">报</a> </td>
          <td class="td-light-blue"> <a href="#bei1_cupOrGlass">杯</a> </td>
          <td class="td-light-blue"> <a href="#bei3_north">北</a> </td>
          <td class="td-light-blue"> <a href="#ben3_rootOrigin_Mw">本</a> </td>
          <td class="td-light-blue"> <a href="#bi3_toCompare_compared">比</a> </td>
          <td class="td-light-blue"> <a href="#bi3_writingBrush">笔</a> </td>
          <td class="td-light-blue"> <a href="#bian1_side">边</a> </td>
          <td class="td-light-blue"> <a href="#bian4_convenient_toRelieveOnself_therefo">便</a> </td>
          <td class="td-light-blue"> AB </td>
        </tr>
        <tr>
          <td class="td-white"> 2 </td>
          <td class="td-light-blue"> 遍</span><span><span></span> </td>
          <td class="td-light-blue"> <a href="#bie2_other_dont">别</a> </td>
          <td class="td-light-blue"> <a href="#bing4_toBeIll">病</a> </td>
          <td class="td-light-blue"> <a href="#bu4_noNot">不</a> </td>
          <td class="td-white"> <a href="#cai2_talent_justNow_just_only">才</a> </td>
          <td class="td-white"> <a href="#cai4_veggiesDishFood">菜</a> </td>
          <td class="td-white"> <a href="#cha2_tea">茶</a> </td>
          <td class="td-white"> <a href="#cha4_toFallShortOf_notCorrect_less">差</a> </td>
          <td class="td-white"> <a href="#chang2_long">长</a> </td>
          <td class="td-white"> <a href="#chang2_often_ordinary_common">常</a> </td>
          <td class="td-white"> <a href="#chang3_ground_site">场</a> </td>
          <td class="td-white"> <a href="#chang4_sing">唱</a> </td>
          <td class="td-white"> <a href="#che1_chariot">车</a> </td>
          <td class="td-white"> <a href="#cheng2_toBecome">成</a> </td>
          <td class="td-white"> <a href="#cheng2_wall_city">城</a> </td>
          <td class="td-white"> <a href="#chi1_eat">吃</a> </td>
          <td class="td-white"> <a href="#chu1_goOut">出</a> </td>
          <td class="td-white"> <a href="#chu4_place">处</a> </td>
          <td class="td-white"> <a href="#chuan3_river_waterCourse">川</a> </td>
          <td class="td-white"> <a href="#chun1_spring">春</a> </td>
          <td class="td-right">BC</td>
        </tr>
        <tr>
          <td class="td-white"> 3 </td>
          <td class="td-white"> <a href="#ci4_timeNumberOf_ofPoorQuality">次</a> </td>
          <td class="td-white"> <a href="#cong2_from_following_since">从</a> </td>
          <td class="td-white"> <a href="#cuo4_error_Wrong_makeMistake">错</a> </td>
          <td class="td-salmon"> <a href="#da3_toHit">打</a> </td>
          <td class="td-salmon"> <a href="#da4_big">大</a> </td>
          <td class="td-salmon"> <a href="#dai4_toWear_toCarry_toBring_zone">带</a> </td>
          <td class="td-salmon"> <a href="#dang1_toAssumeTheRoleOf_when">当</a> </td>
          <td class="td-salmon"> <a href="#dao4_until_toArriveAt">到</a> </td>
          <td class="td-salmon"> <a href="#dao4_way">道</a> </td>
          <td class="td-salmon"> <a href="#de_determining">的</a> </td>
          <td class="td-salmon"> <a href="#de_accumulation">得</a> </td>
          <td class="td-salmon"> <a href="#deng3_etc_toWait_rank_grade">等</a> </td>
          <td class="td-salmon"> <a href="#di3_bottom_base">底</a> </td>
          <td class="td-salmon"> <a href="#di4_earth_soil_ground">地</a> </td>
          <td class="td-salmon"> <a href="#di_ordinal_prefix">第</a> </td>
          <td class="td-salmon"> <a href="#dian3_point_OClock_aLittle_pointOut">点</a> </td>
          <td class="td-salmon"> <a href="#dian4_electricity">电</a> </td>
          <td class="td-salmon"> <a href="#dian4_shop">店</a> </td>
          <td class="td-salmon"> <a href="#ding1_adultMan_dicedFood">丁</a> </td>
          <td class="td-salmon"> <a href="#ding4_stable_toReserve_toSetFixDecide">定</a> </td>
          <td class="td-salmon"> CD </td>
        </tr>
        <tr>
          <td class="td-white"> 4 </td>
          <td class="td-salmon"> <a href="#dong1_winter">冬</a> </td>
          <td class="td-salmon"> <a href="#dong1_east">东</a> </td>
          <td class="td-salmon"> <a href="#dong3_toUnderstand">懂</a> </td>
          <td class="td-salmon"> <a href="#dong4_toMove">动</a> </td>
          <td class="td-salmon"> <a href="#dou1_all_both">都</a> </td>
          <td class="td-salmon"> <a href="#dui4_right_exact_opposite">对</a> </td>
          <td class="td-salmon"> <a href="#duo1_numerous_many_much">多</a> </td>
          <td class="td-lime"> <a href="#e4_hungry">饿</a> </td>
          <td class="td-lime"> <a href="#er2_child_suffix">儿</a> </td>
          <td class="td-lime"> <a href="#er4_two">二</a> </td>
          <td class="td-light-blue"> <a href="#fa1_toEmit">发</a> </td>
          <td class="td-light-blue"> <a href="#fa3_law_method">法</a> </td>
          <td class="td-light-blue"> <a href="#fan4_cookedRice_meal_food">饭</a> </td>
          <td class="td-light-blue"> <a href="#fang1_place_orientation_method">方</a> </td>
          <td class="td-light-blue"> <a href="#fang2_house_room">房</a> </td>
          <td class="td-light-blue"> <a href="#fang4_toGraze_toPutInPlace">放</a> </td>
          <td class="td-light-blue"> <a href="#fei1_not_wrong">非</a> </td>
          <td class="td-light-blue"> <a href="#fei1_toFly">飞</a> </td>
          <td class="td-light-blue"> <a href="#fen1_divideUp_oneHundredthYuan_minute">分</a> </td>
          <td class="td-light-blue"> <a href="#fen4_part_portion">份</a> </td>
          <td class="td-light-blue"> DEF </td>
        </tr>
        <tr>
          <td class="td-white"> 5 </td>
          <td class="td-light-blue"> <a href="#feng1_wind">风</a> </td>
          <td class="td-light-blue"> <a href="#fu1_adult">夫</a> </td>
          <td class="td-light-blue"> <a href="#fu2_clothing_toSubmit_toAbsorb">服</a> </td>
          <td class="td-light-blue"> <a href="#fu4_father">父</a> </td>
          <td class="td-white"> <a href="#gan1_dry">干</a> </td>
          <td class="td-white"> <a href="#gang1_justNow_thisInstant">刚</a> </td>
          <td class="td-white"> <a href="#gang1_steel">钢</a> </td>
          <td class="td-white"> <a href="#gao1_tall_elevated">高</a> </td>
          <td class="td-white"> <a href="#gao4_toInform">告</a> </td>
          <td class="td-white"> <a href="#ge1_elderBrother">哥</a> </td>
          <td class="td-white"> <a href="#ge1_song">歌</a> </td>
          <td class="td-white"> <a href="#ge4_Mw_individual">个</a> </td>
          <td class="td-white"> <a href="#gei3_toGiveTo_resultative">给</a> </td>
          <td class="td-white"> <a href="#gen1_with_accompaniedBy_toFollow">跟</a> </td>
          <td class="td-white"> <a href="#geng1_toChange_nightWatches">更</a> </td>
          <td class="td-white"> <a href="#gong1_toWork_do_make">工</a> </td>
          <td class="td-white"> <a href="#gong1_public_commonToAll_maleAsInAnimal">公</a> </td>
          <td class="td-white"> <a href="#gong4_common">共</a> </td>
          <td class="td-white"> <a href="#gu3_old_antique">古</a> </td>
          <td class="td-white"> <a href="#guan1_toClose_toBeConcerned_Surname">关</a> </td>
          <td class="td-right"> FG </td>
        </tr>
        <tr>
          <td class="td-white"> 6 </td>
          <td class="td-white"> <a href="#guan3_houseForGuests_establishment">馆</a> </td>
          <td class="td-white"> <a href="#guang1_flashOfLight">光</a> </td>
          <td class="td-white"> <a href="#guang3_vast_wide">广</a> </td>
          <td class="td-white"> <a href="#gui4_honorable_expensive">贵</a> </td>
          <td class="td-white"> <a href="#guo2_nation">国</a> </td>
          <td class="td-white"> <a href="#guo3_fruit_consequence">果</a> </td>
          <td class="td-white"> <a href="#guo4_toGoAcross">过</a> </td>
          <td class="td-lime"> <a href="#hai2_still_also">还</a> </td>
          <td class="td-lime"> <a href="#hai2_child">孩</a> </td>
          <td class="td-lime"> <a href="#hai2_sea">海</a> </td>
          <td class="td-lime"> <a href="#han4_Chinese_Han">汉</a> </td>
          <td class="td-lime"> <a href="#hao3_good_toBeGood_well">好</a> </td>
          <td class="td-lime"> <a href="#he1_toDrink">喝</a> </td>
          <td class="td-lime"> <a href="#he2_river">河</a> </td>
          <td class="td-lime"> <a href="#he2_and_harmony_togetherWith_gentle">和</a> </td>
          <td class="td-lime"> <a href="#hei1_black">黑</a> </td>
          <td class="td-lime"> <a href="#hen3_very">很</a> </td>
          <td class="td-lime"> <a href="#hong2_red">红</a> </td>
          <td class="td-lime"> <a href="#hou4_after_behind">后</a> </td>
          <td class="td-lime"> <a href="#hou4_wait">候</a> </td>
          <td class="td-lime"> GH </td>
        </tr>
        <tr>
          <td class="td-white"> 7 </td>
          <td class="td-lime"> <a href="#hu2_lake">湖</a> </td>
          <td class="td-lime"> <a href="#hu3_tiger">虎</a> </td>
          <td class="td-lime"> <a href="#hua1_flower_toSpend">花</a> </td>
          <td class="td-lime"> <a href="#hua4_picture">画</a> </td>
          <td class="td-lime"> <a href="#hua4_toTransform_change">化</a> </td>
          <td class="td-lime"> <a href="#hua4_word_language">话</a> </td>
          <td class="td-lime"> <a href="#huan1_joy">欢</a> </td>
          <td class="td-lime"> <a href="#huang2_yellow">黄</a> </td>
          <td class="td-lime"> <a href="#hui2_returnTo">回</a> </td>
          <td class="td-lime"> <a href="#hui4_toKnowHowToDo_meeting_association">会</a> </td>
          <td class="td-lime"> <a href="#huo2_alive_life_toLive">活</a> </td>
          <td class="td-lime"> <a href="#huo3_fire">火</a> </td>
          <td class="td-light-blue"> <a href="#ji1_machine">机</a> </td>
          <td class="td-light-blue"> <a href="#ji1_chicken_fowl">鸡</a> </td>
          <td class="td-light-blue"> <a href="#ji3_howMany_howMuch_smallTeaTable">几</a> </td>
          <td class="td-light-blue"> <a href="#ji3_oneself">己</a> </td>
          <td class="td-light-blue"> <a href="#jia1_home">家</a> </td>
          <td class="td-light-blue"> <a href="#jian1_interval">间</a> </td>
          <td class="td-light-blue"> <a href="#jian4_toNoticeResultative">见</a> </td>
          <td class="td-light-blue"> <a href="#jiang1_river">江</a> </td>
          <td class="td-light-blue"> HJ </td>
        </tr>
        <tr>
          <td class="td-white"> 8 </td>
          <td class="td-light-blue"> <a href="#jiang3_toTalk_toTalkAbout_toExplain_tell">讲</a> </td>
          <td class="td-light-blue"> <a href="#jiao1_toTeach">教</a> </td>
          <td class="td-light-blue"> <a href="#jiao3_ravioli_potStickers">饺</a> </td>
          <td class="td-light-blue"> <a href="#jiao4_toBeCalled_toCall">叫</a> </td>
          <td class="td-light-blue"> <a href="#jin1_this_present_current_today">今</a> </td>
          <td class="td-light-blue"> <a href="#jin1_gold_metal">金</a> </td>
          <td class="td-light-blue"> <a href="#jin4_close_near">近</a> </td>
          <td class="td-light-blue"> <a href="#jin4_toEnterResultative">进</a> </td>
          <td class="td-light-blue"> <a href="#jing1_capital">京</a> </td>
          <td class="td-light-blue"> <a href="#jiu3_nine">九</a> </td>
          <td class="td-light-blue"> <a href="#jiu3_alcohol_wine">酒</a> </td>
          <td class="td-light-blue"> <a href="#jiu3_longTime">久</a> </td>
          <td class="td-light-blue"> <a href="#jiu4_so_therefore">就</a> </td>
          <td class="td-light-blue"> <a href="#jiu4_old_used">旧</a> </td>
          <td class="td-light-blue"> <a href="#jue2_toFeel_toBeAwareOf">觉</a> </td>
          <td class="td-white"> <a href="#kai1_open_turnOn_boil_drive">开</a> </td>
          <td class="td-white"> <a href="#kan4_see_lookAt_watch_read">看</a> </td>
          <td class="td-white"> <a href="#ke3_toPermit_can">可</a> </td>
          <td class="td-white"> <a href="#ke4_aCourse_class_lesson">课</a> </td>
          <td class="td-white"> <a href="#ke4_quarterHour_toEngrave_toCarve">刻</a> </td>
          <td class="td-right"> JK </td>
        </tr>
        <tr>
          <td class="td-white"> 9 </td>
          <td class="td-white"> <a href="#kong3_hole_SurName">孔</a> </td>
          <td class="td-white"> <a href="#kou3_mouth_opening">口</a> </td>
          <td class="td-white"> <a href="#kuai4_toBeFast_quick">快</a> </td>
          <td class="td-white"> <a href="#kuai4_chopsticks">筷</a> </td>
          <td class="td-white"> <a href="#kuai4_piece_yuan_unitOfCurrency">块</a> </td>
          <td class="td-salmon"> <a href="#lai2_come_serve">来</a> </td>
          <td class="td-salmon"> <a href="#lao3_old_toBeOld_always">老</a> </td>
          <td class="td-salmon"> <a href="#le4_happy">乐</a> </td>
          <td class="td-salmon"> <a href="#le_ModalParticle">了</a> </td>
          <td class="td-salmon"> <a href="#lei4_toBeTired">累</a> </td>
          <td class="td-salmon"> <a href="#leng3_cold_toBeCold">冷</a> </td>
          <td class="td-salmon"> <a href="#li2_from_awayFrom">离</a> </td>
          <td class="td-salmon"> <a href="#li3_plum_SurName">李</a> </td>
          <td class="td-salmon"> <a href="#li3_inside_UnitOfLength">里</a> </td>
          <td class="td-salmon"> <a href="#li4_stand_construct">立</a> </td>
          <td class="td-salmon"> <a href="#lian2_toJoin_including_even">莲</a> </td>
          <td class="td-salmon"> <a href="#liang2_cool">凉</a> </td>
          <td class="td-salmon"> <a href="#liang3_two_pair">两</a> </td>
          <td class="td-salmon"> <a href="#liang4_MwForVehicles_bicycles">辆</a> </td>
          <td class="td-salmon"> 0 </td>
          <td class="td-salmon"> KL </td>
        </tr>
        <tr>
          <td class="td-white">
            10
          </td>
          <td class="td-salmon"> <a href="#ling2_zero">零</a> </td>
          <td class="td-salmon"> <a href="#liu4_six">六</a> </td>
          <td class="td-salmon"> <a href="#long2_dragon">龙</a> </td>
          <td class="td-salmon"> <a href="#lou2_buildingWithStoreys_pavilion">楼</a> </td>
          <td class="td-salmon"> <a href="#lu4_road_MwForBusRo">路</a> </td>
          <td class="td-lime"> <a href="#ma3_horse_SurName">马</a> </td>
          <td class="td-lime"> <a href="#ma_InterrogativeParticle">吗</a> </td>
          <td class="td-lime"> <a href="#mai3_buy">买</a> </td>
          <td class="td-lime"> <a href="#mai4_toSell">卖</a> </td>
          <td class="td-lime"> <a href="#man4_slow_slowly">慢</a> </td>
          <td class="td-lime"> <a href="#mang2_toBeBusy">忙</a> </td>
          <td class="td-lime"> <a href="#mao2_hair_oneTenthYuan_Surname">毛</a> </td>
          <td class="td-lime"> <a href="#me_see">么</a> </td>
          <td class="td-lime"> <a href="#mei2_NegationOfPastExperience">没</a> </td>
          <td class="td-lime"> <a href="#mei3_beautiful">美</a> </td>
          <td class="td-lime"> <a href="#mei3_every">每</a> </td>
          <td class="td-lime"> <a href="#men2_door_gate">门</a> </td>
          <td class="td-lime"> <a href="#men_pluralSuffix">们</a> </td>
          <td class="td-lime"> <a href="#meng4_dream">梦</a> </td>
          <td class="td-lime"> <a href="#mi3_rice">米</a> </td>
          <td class="td-lime"> LM </td>
        </tr>
        <tr>
          <td class="td-white"> 11 </td>
          <td class="td-lime"> <a href="#mian4_face_side_flour">面</a> </td>
          <td class="td-lime"> <a href="#min2_people">民</a> </td>
          <td class="td-lime"> <a href="#ming2_name">名</a> </td>
          <td class="td-lime"> <a href="#ming2_clear_clarity">明</a> </td>
          <td class="td-lime"> <a href="#mu3_mother">母</a> </td>
          <td class="td-light-blue"> <a href="#na2_toHold_toTake">拿</a> </td>
          <td class="td-light-blue"> <a href="#na3_which_what_Interrogative">哪</a> </td>
          <td class="td-light-blue"> <a href="#na4_that">那</a> </td>
          <td class="td-light-blue"> <a href="#nan2_boy_man_male">男</a> </td>
          <td class="td-light-blue"> <a href="#nan2_south">南</a> </td>
          <td class="td-light-blue"> <a href="#nan2_difficult">难</a> </td>
          <td class="td-light-blue"> <a href="#nao3_brain">脑</a> </td>
          <td class="td-light-blue"> <a href="#ne_FinalInterrogativeParticle_inProcess">呢</a> </td>
          <td class="td-light-blue"> <a href="#neng2_can_possibly_capable">能</a> </td>
          <td class="td-light-blue"> <a href="#ni3_you">你</a> </td>
          <td class="td-light-blue"> <a href="#nian2_year">年</a> </td>
          <td class="td-light-blue"> <a href="#nian4_toReadAloud">念</a> </td>
          <td class="td-light-blue"> <a href="#niao3_bird">鸟</a> </td>
          <td class="td-light-blue"> <a href="#nin3_you_your_Polite">您</a> </td>
          <td class="td-light-blue"> <a href="#niu2_beef_cow">牛</a> </td>
          <td class="td-light-blue"> MN </td>
        </tr>
        <tr>
          <td class="td-white"> 12 </td>
          <td class="td-light-blue"> <a href="#nu3_girl_woman_female">女</a> </td>
          <td class="td-white"> <a href="#pang2_nextTo">旁</a> </td>
          <td class="td-white"> <a href="#peng2_friend">朋</a> </td>
          <td class="td-white"> <a href="#pi2_skin_leather">皮</a> </td>
          <td class="td-white"> <a href="#pian1_sliceOf_rollOf_sheetOf_photo">片</a> </td>
          <td class="td-white"> <a href="#piao4_ticket">票</a> </td>
          <td class="td-white"> <a href="#ping2_calm_flat">平</a> </td>
          <td class="td-salmon"> <a href="#qi1_seven">七</a> </td>
          <td class="td-salmon"> <a href="#qi1_period">期</a> </td>
          <td class="td-salmon"> <a href="#qi2_toRide">骑</a> </td>
          <td class="td-salmon"> <a href="#qi3_toGetUp_toStart">起</a> </td>
          <td class="td-salmon"> <a href="#qi4_air_breath">气</a> </td>
          <td class="td-salmon"> <a href="#qi4_steam_gas">汽</a> </td>
          <td class="td-salmon"> <a href="#qian1_thousand">千</a> </td>
          <td class="td-salmon"> <a href="#qian2_before_inFrontOf">前</a> </td>
          <td class="td-salmon"> <a href="#qian2_money">钱</a> </td>
          <td class="td-salmon"> <a href="#qin4_closeRelatives">亲</a> </td>
          <td class="td-salmon"> <a href="#qing1_light_notHeavy">轻</a> </td>
          <td class="td-salmon"> <a href="#qing3_toInvite_please">请</a> </td>
          <td class="td-salmon"> <a href="#qiu1_autumn">秋</a> </td>
          <td class="td-salmon"> NPQ </td>
        </tr>
        <tr>
          <td class="td-white"> 13 </td>
          <td class="td-salmon"> <a href="#qu1_zone_district_toMarkOffaBoundary">区</a> </td>
          <td class="td-salmon"> <a href="#qu4_toGo">去</a> </td>
          <td class="td-lime"> <a href="#ran2_likeThat_inThatWay_but">然</a> </td>
          <td class="td-lime"> <a href="#rang4_toAskOrTellToDoSomething_toAllow">让</a> </td>
          <td class="td-lime"> <a href="#re4_hot_toBeHot">热</a> </td>
          <td class="td-lime"> <a href="#ren2_person_people">人</a> </td>
          <td class="td-lime"> <a href="#ren4_toRecognize">认</a> </td>
          <td class="td-lime"> <a href="#ri4_day_sun">日</a> </td>
          <td class="td-lime"> <a href="#rou4_meat">肉</a> </td>
          <td class="td-lime"> <a href="#ru2_if_like">如</a> </td>
          <td class="td-light-blue"> <a href="#san1_three">三</a> </td>
          <td class="td-light-blue"> <a href="#se4_color">色</a> </td>
          <td class="td-light-blue"> <a href="#shan1_mountain">山</a> </td>
          <td class="td-light-blue"> <a href="#shang1_business_commerce">商</a> </td>
          <td class="td-light-blue"> <a href="#shang4_above_on_goUp_getOn">上</a> </td>
          <td class="td-light-blue"> <a href="#shao3_few">少</a> </td>
          <td class="td-light-blue"> <a href="#shei2_who_Question">谁</a> </td>
          <td class="td-light-blue"> <a href="#shen1_body">身</a> </td>
          <td class="td-light-blue"> <a href="#shen2_see">什</a> </td>
          <td class="td-light-blue"> <a href="#sheng1_toBeBorn">生</a> </td>
          <td class="td-light-blue"> QRS </td>
        </tr>
        <tr>
          <td class="td-white"> 14 </td>
          <td class="td-light-blue"> <a href="#sheng1_noise_voice">声</a> </td>
          <td class="td-light-blue"> <a href="#sheng1_toMoveUpward">升</a> </td>
          <td class="td-light-blue"> <a href="#shi1_master">师</a> </td>
          <td class="td-light-blue"> <a href="#shi2_ten">十</a> </td>
          <td class="td-light-blue"> <a href="#shi2_hour_time_durationOfTime">时</a> </td>
          <td class="td-light-blue"> <a href="#shi2_toKnow_toDistinguish">识</a> </td>
          <td class="td-light-blue"> <a href="#shi3_toBegin_beginning">始</a> </td>
          <td class="td-light-blue"> <a href="#shi4_toBe_thatsRight">是</a> </td>
          <td class="td-light-blue"> <a href="#shi4_thing_event_affair">事</a> </td>
          <td class="td-light-blue"> <a href="#shi4_market_city">市</a> </td>
          <td class="td-light-blue"> <a href="#shi4_room">室</a> </td>
          <td class="td-light-blue"> <a href="#shou1_toReceive">收</a> </td>
          <td class="td-light-blue"> <a href="#shou3_hand">手</a> </td>
          <td class="td-light-blue"> <a href="#shu1_book_toWrite">书</a> </td>
          <td class="td-light-blue"> <a href="#shui3_water">水</a> </td>
          <td class="td-light-blue"> <a href="#shui4_toSleep">睡</a> </td>
          <td class="td-light-blue"> <a href="#shuo1_toSpeak_toSay">说</a> </td>
          <td class="td-light-blue"> <a href="#si1_thought">思</a> </td>
          <td class="td-light-blue"> <a href="#si4_four">四</a> </td>
          <td class="td-light-blue"> <a href="#su4_toRelate_toAccuse">诉</a> </td>
          <td class="td-light-blue"> S </td>
        </tr>
        <tr>
          <td class="td-white"> 15 </td>
          <td class="td-light-blue"> <a href="#suan4_toCalculate">算</a> </td>
          <td class="td-light-blue"> <a href="#sui1_although_though">虽</a> </td>
          <td class="td-light-blue"> <a href="#sui4_yearsOfAge">岁</a> </td>
          <td class="td-light-blue"> <a href="#suo3_thatWhich_place_Mw">所</a> </td>
          <td class="td-white"> <a href="#ta1_he_him">他</a> </td>
          <td class="td-white"> <a href="#ta1_she_her">她</a> </td>
          <td class="td-white"> <a href="#ta1_it">它</a> </td>
          <td class="td-white"> <a href="#tai4_too_very_ExcessiveExtent">太</a> </td>
          <td class="td-white"> <a href="#teng2_toHaveAchesAndPains">疼</a> </td>
          <td class="td-white"> <a href="#ti2_toLift_toSuggest_toAlludeTo">提</a> </td>
          <td class="td-white"> <a href="#ti2_theme_problem_writeInscription">题</a> </td>
          <td class="td-white"> <a href="#ti3_body_form_model">体</a> </td>
          <td class="td-white"> <a href="#tian1_sky_day">天</a> </td>
          <td class="td-white"> <a href="#tian2_field_SurName">田</a> </td>
          <td class="td-white"> <a href="#ting1_listen">听</a> </td>
          <td class="td-white"> <a href="#tong2_together_theSame">同</a> </td>
          <td class="td-white"> <a href="#tou2_head">头</a> </td>
          <td class="td-white"> <a href="#tu2_map_drawing">图</a> </td>
          <td class="td-salmon"> <a href="#wai4_exterior_outside">外</a> </td>
          <td class="td-salmon"> <a href="#wan2_toFinish">完</a> </td>
          <td class="td-salmon"> STW </td>
        </tr>
        <tr>
          <td class="td-white"> 16 </td>
          <td class="td-salmon"> <a href="#wan3_late_toBeLate_evening">晚</a> </td>
          <td class="td-salmon"> <a href="#wan4_tenThousand">万</a> </td>
          <td class="td-salmon"> <a href="#wang2_king_SurName">王</a> </td>
          <td class="td-salmon"> <a href="#wang3_towards_past_toGo">往</a> </td>
          <td class="td-salmon"> <a href="#wang4_toForget">忘</a> </td>
          <td class="td-salmon"> <a href="#wei4_for">为</a> </td>
          <td class="td-salmon"> <a href="#wei4_MwForPeople">位</a> </td>
          <td class="td-salmon"> <a href="#wen2_writtenLanguage">文</a> </td>
          <td class="td-salmon"> <a href="#wen4_toAsk_toInquire">问</a> </td>
          <td class="td-salmon"> <a href="#wo3_I_me">我</a> </td>
          <td class="td-salmon"> <a href="#wu2_without">无</a> </td>
          <td class="td-salmon"> <a href="#wu3_five">五</a> </td>
          <td class="td-salmon"> <a href="#wu3_the7thHour_midday">午</a> </td>
          <td class="td-salmon"> <a href="#wu4_beings_matter">物</a> </td>
          <td class="td-lime"> <a href="#xi1_west">西</a> </td>
          <td class="td-lime"> <a href="#xi1_breath_message">息</a> </td>
          <td class="td-lime"> <a href="#xi3_delight_toLike">喜</a> </td>
          <td class="td-lime"> <a href="#xia4_underneath_goDown_getOff">下</a> </td>
          <td class="td-lime"> <a href="#xian1_first_firstly">先</a> </td>
          <td class="td-lime"> <a href="#xian4_present_manifest">现</a> </td>
          <td class="td-lime"> WX </td>
        </tr>
        <tr style="height:1.15pt">
          <td class="td-white"> 17 </td>
          <td class="td-lime"> <a href="#xiang1_fragrant">香</a> </td>
          <td class="td-lime"> <a href="#xiang3_think_thinkOf_wantTo">想</a> </td>
          <td class="td-lime"> <a href="#xiang4_elephant_image_toResemble">象</a> </td>
          <td class="td-lime"> <a href="#xiao3_small">小</a> </td>
          <td class="td-lime"> <a href="#xiao4_school">校</a> </td>
          <td class="td-lime"> <a href="#xie1_someUnknownQty_Mw">些</a> </td>
          <td class="td-lime"> <a href="#xie2_shoe">鞋</a> </td>
          <td class="td-lime"> <a href="#xie3_toWrite">写</a> </td>
          <td class="td-lime"> <a href="#xie4_toThank">谢</a> </td>
          <td class="td-lime"> <a href="#xin1_new">新</a> </td>
          <td class="td-lime"> <a href="#xin1_heart">心</a> </td>
          <td class="td-lime"> <a href="#xin4_letter_toBelieveIn">信</a> </td>
          <td class="td-lime"> <a href="#xing1_star">星</a> </td>
          <td class="td-lime"> <a href="#xing2_toWalk_toGo">行</a> </td>
          <td class="td-lime"> <a href="#xing3_toWakeUp">醒</a> </td>
          <td class="td-lime"> <a href="#xing4_toBeCalled_SurName">姓</a> </td>
          <td class="td-lime"> <a href="#xing4_enthusiasm">兴</a> </td>
          <td class="td-lime"> <a href="#xiu1_toRest_toCease">休</a> </td>
          <td class="td-lime"> <a href="#xue2_toStudy_studies_school">学</a> </td>
          <td class="td-light-blue"> <a href="#ya_exclamation">呀</a> </td>
          <td class="td-light-blue"> XY </td>
        </tr>
        <tr>
          <td class="td-white"> 18 </td>
          <td class="td-light-blue"> <a href="#yan2_word_language">言</a> </td>
          <td class="td-light-blue"> <a href="#yang2_sunnySideOfHill_sun">阳</a> </td>
          <td class="td-light-blue"> <a href="#yang2_sheep">羊</a> </td>
          <td class="td-light-blue"> <a href="#yang4_type_manner_model">样</a> </td>
          <td class="td-light-blue"> <a href="#yao4_want_must_orderSomething">要</a> </td>
          <td class="td-light-blue"> <a href="#yao4_medicine_remedy">药</a> </td>
          <td class="td-light-blue"> <a href="#ye3_also_asWell">也</a> </td>
          <td class="td-light-blue"> <a href="#ye4_night">夜</a> </td>
          <td class="td-light-blue"> <a href="#yi1_one">一</a> </td>
          <td class="td-light-blue"> <a href="#yi1_medicine_toCure_toTreat">医</a> </td>
          <td class="td-light-blue"> <a href="#yi1_clothing">衣</a> </td>
          <td class="td-light-blue"> <a href="#yi3_byMeansOf">以</a> </td>
          <td class="td-light-blue"> <a href="#yi4_opinion_meaning_intention">意</a> </td>
          <td class="td-light-blue"> <a href="#yin1_cause_because">因</a> </td>
          <td class="td-light-blue"> <a href="#yin1_sound">音</a> </td>
          <td class="td-light-blue"> <a href="#ying3_shadow">影</a> </td>
          <td class="td-light-blue"> <a href="#ying4_hard">硬</a> </td>
          <td class="td-light-blue"> <a href="#yong4_toUse_using_with_byMeansOf">用</a> </td>
          <td class="td-light-blue"> <a href="#you3_toHave">有</a> </td>
          <td class="td-light-blue"> <a href="#you3_friend">友</a> </td>
          <td class="td-light-blue"> Y </td>
        </tr>
        <tr>
          <td class="td-white"> 19 </td>
          <td class="td-light-blue"> <a href="#you4_again">又</a> </td>
          <td class="td-light-blue"> <a href="#yu2_fish">鱼</a> </td>
          <td class="td-light-blue"> <a href="#yu3_language">语</a> </td>
          <td class="td-light-blue"> <a href="#yu3_rain">雨</a> </td>
          <td class="td-light-blue"> <a href="#yuan2_first_unit">元</a> </td>
          <td class="td-light-blue"> <a href="#yuan2_garden">园</a> </td>
          <td class="td-light-blue"> <a href="#yuan3_far">远</a> </td>
          <td class="td-light-blue"> <a href="#yuan4_internalCourtyard_establishment">院</a> </td>
          <td class="td-light-blue"> <a href="#yue4_moon_month">月</a> </td>
          <td class="td-white"> <a href="#zai4_toBeIn_at">在</a> </td>
          <td class="td-white"> <a href="#zai4_again">再</a> </td>
          <td class="td-white"> <a href="#zao3_early_toBeEarly_morning">早</a> </td>
          <td class="td-white"> <a href="#zen3_see">怎</a> </td>
          <td class="td-white"> <a href="#zhan4_toBeStandingUp_station">站</a> </td>
          <td class="td-white"> <a href="#zhang1_toStretchOut_Mw">张</a> </td>
          <td class="td-white"> <a href="#zhao3_toLookFor_toWantToSpeakTo">找</a> </td>
          <td class="td-white"> <a href="#zhe4_this">这</a> </td>
          <td class="td-white"> <a href="#zhao2_toTouch_toBeAffectedBy">着</a> </td>
          <td class="td-white"> <a href="#zhen1_really_true">真</a> </td>
          <td class="td-white"> <a href="#zheng4_just_right_correct">正</a> </td>
          <td class="td-right"> YZ </td>
        </tr>
        <tr>
          <td class="td-white"> 20 </td>
          <td class="td-white"> <a href="#zhi1_toKnow">知</a> </td>
          <td class="td-white"> <a href="#zhi3_only">只</a> </td>
          <td class="td-white"> <a href="#zhong1_middle_medium_center">中</a> </td>
          <td class="td-white"> <a href="#zhong1_clock_bell">钟</a> </td>
          <td class="td-white"> <a href="#zhong3_type_sort">种</a> </td>
          <td class="td-white"> <a href="#zhong4_heavy">重</a> </td>
          <td class="td-white"> <a href="#zhu3_masterOfProperty_main">主</a> </td>
          <td class="td-white"> <a href="#zhu4_toReside_liveAt_Resultative">住</a> </td>
          <td class="td-white"> <a href="#zhu4_toWish">祝</a> </td>
          <td class="td-white"> <a href="#zhuang1_village_Surname">庄</a> </td>
          <td class="td-white"> <a href="#zi3_child">子</a> </td>
          <td class="td-white"> <a href="#zi4_chineseCharacter">字</a> </td>
          <td class="td-white"> <a href="#zi4_oneself">自</a> </td>
          <td class="td-white"> <a href="#zou3_toWalk_toLeave">走</a> </td>
          <td class="td-white"> <a href="#zu1_toRent">租</a> </td>
          <td class="td-white"> <a href="#zui4_theMost">最</a> </td>
          <td class="td-white"> <a href="#zuo2_yesterday">昨</a> </td>
          <td class="td-white"> <a href="#zuo4_toDo_toMake">作</a> </td>
          <td class="td-white"> <a href="#zuo4_toDo_toMakeFood">做</a> </td>
          <td class="td-white"> <a href="#zuo4_sitDown_take_bySomeTransport">坐</a> </td>
          <td class="td-right"> Z </td>
        </tr>
        <tr>
          <td class="td-white">   </td>
          <td class="td-white"> 泥 </td>
          <td class="td-white"> 妈 </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-white"> </td>
          <td class="td-right"> </td>
        </tr>
      </table>
    </body>
</html>
