<h1>Chinese Character Dictionary</h1>
<p>
	<a href="#A">A</a>
	<a href="#B">B</a>
	<a href="#C">C</a>
	<a href="#D">D</a>
	<a href="#e4_hungry">E</a>
	<a href="#F">F</a>
	<a href="#G">G</a>
	<a href="#hai2_child">H</a>
	<a href="#ji1_machine">J</a>
	<a href="#K">K</a>
	<a href="#L">L</a>
	<a href="#ma3_horse_SurName">M</a>
	<a href="#N">N</a>
	<a href="#o4_ExclamatoryParticle">O</a>
	<a href="#Q">Q</a>
	<a href="#S">S</a>
	<a href="#T">T</a>
	<a href="#wai4_exterior_outside">W</a>
	<a href="#X">X</a>
	<a href="#Y">Y</a>
	<a href="#Z">Z</a>
</p>
